<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
                    
    <!-- properties -->
    <bean id="applicationPropertyResource" class="org.springframework.core.io.ClassPathResource">
            <constructor-arg value="application.properties" />
    </bean>
    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="location" ref="applicationPropertyResource"/>
            <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <!-- enable @Autowired -->
    <context:annotation-config />

    <!--           Filters (on web.xml)             -->

    <bean id="jsonpFilter" class="com.wadpam.open.jsonp.JsonpCallbackFilter">
    </bean>
                    

    <mvc:annotation-driven>
	    <mvc:message-converters>
	        <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
	        	<property name="objectMapper" ref="jsonObjectMapper"/>  
	        </bean>
	    </mvc:message-converters>
	</mvc:annotation-driven>
    
	<mvc:default-servlet-handler />

    <!--           Services             -->

    <import resource="classpath:/open-user-service.xml" />
    <import resource="classpath:/spring-dao.xml" />
    <import resource="classpath:/mysql-context.xml" />
    
    <bean class="com.wadpam.open.service.SampleService" />
    <bean class="com.wadpam.open.service.ComplexService" />
    
    <bean class="com.wadpam.open.service.ExportService" init-method="init" />

    <!--           Controllers             -->

    <bean class="com.wadpam.open.web.MonitorController" />
    
    <bean class="com.wadpam.open.web.SampleController" />
    <bean class="com.wadpam.open.web.ComplexController" />
    
    <bean class="com.wadpam.open.web.ExportController" />

    <!--           View stuff             -->
        
    <bean id="jsonObjectMapper" class="com.wadpam.open.json.SkipNullObjectMapper" init-method="init" />
    
    <bean id="restExceptionResolver" class="com.wadpam.open.web.RestJsonExceptionResolver">
        <property name="order" value="100" />
    </bean>
	
</beans>
